.Rproj.user
.Rhistory
.RData
.Ruserdata

#Ignore the raw data -- too big for github
Detaljuttag_då_längd_inkl_tomfångst.csv
Detaljuttag_då_längd_inkl_tomfångst_20year.csv

#Ignore the first level cleaned data -- too big for github
Catch_20232019.csv
Catch_20232002.csv
Catch_count_20232002.csv